.u-section-1 .u-sheet-1 {
  min-height: 775px;
}

.u-section-1 .u-shape-1 {
  width: 69px;
  height: 35px;
  margin: 100px auto 0;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 1rem;
  margin: 82px 369px 0 auto;
  padding: 10px 79px 10px 77px;
}

.u-section-1 .u-btn-2 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 1rem;
  margin: 24px 369px 0 auto;
  padding: 10px 108px 10px 106px;
}

.u-section-1 .u-btn-3 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 1rem;
  margin: 24px 369px 0 auto;
  padding: 10px 79px 10px 77px;
}

.u-section-1 .u-btn-4 {
  border-style: solid;
  letter-spacing: 5px;
  font-size: 1rem;
  font-weight: 700;
  text-transform: uppercase;
  margin: 24px 369px 0 auto;
  padding: 10px 105px 10px 104px;
}

.u-section-1 .u-shape-2 {
  width: 63px;
  height: 32px;
  margin: 82px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-btn-1 {
    margin-right: 169px;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 169px;
  }

  .u-section-1 .u-btn-3 {
    margin-right: 169px;
  }

  .u-section-1 .u-btn-4 {
    margin-right: 169px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-btn-1 {
    margin-right: 0;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 0;
  }

  .u-section-1 .u-btn-3 {
    margin-right: 0;
  }

  .u-section-1 .u-btn-4 {
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-btn-1 {
    padding-right: 49px;
    padding-left: 47px;
  }

  .u-section-1 .u-btn-2 {
    padding-right: 78px;
    padding-left: 76px;
  }

  .u-section-1 .u-btn-3 {
    padding-right: 49px;
    padding-left: 47px;
  }

  .u-section-1 .u-btn-4 {
    padding-right: 75px;
    padding-left: 74px;
  }

  .u-section-1 .u-shape-2 {
    margin-top: 83px;
  }
}