.u-section-1 .u-sheet-1 {
  min-height: 1000px;
}

.u-section-1 .u-shape-1 {
  width: 63px;
  height: 32px;
  margin: 69px auto 0;
}

.u-section-1 .u-custom-html-1 {
  margin-bottom: 0;
  min-height: 387px;
  margin-top: 205px;
}

.u-section-1 .u-shape-2 {
  width: 63px;
  height: 32px;
  margin: 206px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-custom-html-1 {
    height: auto;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 775px;
  }

  .u-section-1 .u-shape-1 {
    margin-top: 70px;
  }

  .u-section-1 .u-custom-html-1 {
    min-height: 507px;
    margin-top: 32px;
  }

  .u-section-1 .u-shape-2 {
    margin-top: 32px;
  }
}