 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 125px;
}

.u-section-1 .u-social-icons-1 {
  min-height: 16px;
  width: 268px;
  min-width: 208px;
  height: 36px;
  margin: 13px auto 0;
}

.u-section-1 .u-icon-1 {
  height: 100%;
}

.u-section-1 .u-icon-2 {
  height: 100%;
}

.u-section-1 .u-icon-3 {
  height: 100%;
}

.u-section-1 .u-social-icons-2 {
  min-height: 16px;
  width: 155px;
  min-width: 112px;
  height: 37px;
  margin: 13px auto 0;
}

.u-section-1 .u-icon-4 {
  height: 100%;
}

.u-section-1 .u-icon-5 {
  height: 100%;
}

@media (max-width: 1199px) {
  .u-section-1 .u-social-icons-1 {
    width: 116px;
    min-width: 68px;
  }

  .u-section-1 .u-social-icons-2 {
    min-width: 172px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-social-icons-1 {
    height: 32px;
    width: 256px;
    min-width: 208px;
    margin-top: 19px;
  }

  .u-section-1 .u-social-icons-2 {
    height: 32px;
    width: 144px;
    min-width: 112px;
    margin-top: 12px;
    margin-bottom: 31px;
  }
} .u-section-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url("images/DSC09339.jpg?rand=7241");
  background-position: 50% 50%;
}

.u-section-2 .u-sheet-1 {
  min-height: 700px;
}

.u-section-2 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  margin: 97px auto 0;
}

.u-section-2 .u-btn-2 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  margin: 39px auto 0;
}

.u-section-2 .u-btn-3 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  margin: 39px auto 0;
}

.u-section-2 .u-btn-4 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  margin: 39px auto 0;
}

.u-section-2 .u-btn-5 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  margin: 39px auto 0;
}

.u-section-2 .u-btn-6 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  margin: 39px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 577px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 442px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 332px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 650px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 50px;
  }

  .u-section-2 .u-btn-2 {
    margin-top: 50px;
    margin-right: 0;
  }

  .u-section-2 .u-btn-3 {
    margin-top: 50px;
  }

  .u-section-2 .u-btn-4 {
    margin-top: 50px;
  }

  .u-section-2 .u-btn-5 {
    margin-top: 50px;
    margin-left: 0;
  }

  .u-section-2 .u-btn-6 {
    margin-top: 50px;
    margin-bottom: 31px;
  }
}